@use './__conf_txt' as *
// 主题按钮

// 按钮文字
$c-wht-btn: $tix
$c-wht-btn-hv: $tix-fcs
$c-wht-btn-fcs: $tix-fcs
// 按钮字体阴影
$c-wht-btn-sdo: #f2f4f772
// 主题字体阴影
$wht-sdo: #f2f4f772

// 主色
$wht: #f2f4f7 
$wht-hv: #ebedf0 
$wht-fcs: #dfe1e6
$wht-shd: #c0c3c9 
    
// 轻色
$wht-iht: #fff2a8
$wht-iht-hv: #ffe044 
$wht-iht-fcs: #f3d436 
$wht-iht-shd: #ffec90a8

// MAP
$btn-wht-vars: (
    "bg": ("n": $wht, "hv": $wht-hv, "fcs": $wht-fcs, "shd": $wht-shd),
    "bd": ("n": $wht, "hv": $wht-hv, "fcs": $wht-fcs),
    "c": ("n": $c-wht-btn, "hv": $c-wht-btn-hv, "fcs": $c-wht-btn-fcs, "sdo": $c-wht-btn-sdo),
    "c-out": ("n": $wht, "hv": $wht-hv, "fcs": $wht-fcs, "sdo": $wht-sdo),
    "iht": ("n": $wht-iht, "hv": $wht-iht-hv, "fcs": $wht-iht-fcs, "shd": $wht-iht-shd)
)
