
// 文字
$tih: #121212 
$tih-fcs: #000
    
$tix: #212121 
$tix-fcs: #121212

$tid: #3f3f3f 
$tid-fcs: #474747

$tiw: #696969
$tiw-fcs: #626262

$tin: #848484
$tin-fcs: #888888

$tis: #939393
$tis-fcs: #898989

$tit: #acacac 
$tit-fcs: #a4a4a4

$sus: #bfbfbf // #bfbfbf
$sus-fcs: #acacac


$txt-color-vars: (
    "tih": ( "n": $tih, "hv": $tih-fcs, "fcs": $tih-fcs ),
    "tix": ( "n": $tix, "hv": $tix-fcs, "fcs": $tix-fcs ),
    "tid": ( "n": $tid, "hv": $tid-fcs, "fcs": $tid-fcs ),
    "tiw": ( "n": $tiw, "hv": $tiw-fcs, "fcs": $tiw-fcs ),
    "tin": ( "n": $tin, "hv": $tin-fcs, "fcs": $tin-fcs ),
    "tis": ( "n": $tis, "hv": $tis-fcs, "fcs": $tis-fcs ),
    "tit": ( "n": $tit, "hv": $tit-fcs, "fcs": $tit-fcs ),
    "sus": ( "n": $sus, "hv": $sus-fcs, "fcs": $sus-fcs )
)
