
// 背景
$bg-pag: #fff // #f2f4f7
$bg-hui: #f2f4f7
$bg-con: #fff

// 元素
$bg-bar: #fff
$bg-bar-hv: #fff
$bg-bar-fcs: #fff

//
$bg-color-vars: (
    "pag": ( "n": $bg-pag ),
    "con": ( "n": $bg-con ),
    "hui": ( "n": $bg-hui ),
    "bar": ( "n": $bg-bar, "hv": $bg-bar-hv, "fcs": $bg-bar-fcs )
)
