
@use '../__conf' as *;

//
.ts-t,
.ts-s, 
.ts-n,
.ts,
.ts-x1,
.ts-x2
    transition-property: $aii-ts-p
    transition-timing-function: $aii-ts-tf
//
.ts-t
    transition-duration: $aii-ts-d-t
.ts-s
    transition-duration: $aii-ts-d-s
.ts-n
    transition-duration: $aii-ts-d-n
.ts
    transition-duration: $aii-ts-d
.ts-x1
    transition-duration: $aii-ts-d-x1
.ts-x2
    transition-duration: $aii-ts-d-x2