@use '../__conf' as *;

.bd
    border: $aii-bd-w $aii-bd-s transparent
.bd-w-x1
    border-width: $aii-bd-w-x1
.bd-w-x2
    border-width: $aii-bd-w-x2

.bd-b
    border-color: transparent
    border-bottom: $aii-bd-w $aii-bd-s transparent
