

@use '../__conf' as *
@use '../__mixin' as *

.br
    border-radius: $aii-br
.br-s
    border-radius: $aii-br-s
.br-imp
    border-radius: $aii-br !important
.br-s-imp
    border-radius: $aii-br-s !important