
@use '../__util' as *

.bg-fff
    background-color: #fff
.bg-000
    background-color:  #000

.bg-028
    background-color:  rgba(0, 0, 0, 0.28)
.bg-040
    background-color:  rgba(0, 0, 0, 0.4)

.bg-ig-black-b
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4))

.bg-def
    @include bg-n-fx(#f2f4f7, #e7e9ec, #e7e9ec)
