@use 'sass:math';
// aii = all element conf

$aii-br: 0.72em
$aii-br-s: math.div($aii-br, 2)

$aii-bd-w: 0.072em
$aii-bd-w-x1: 0.108em
$aii-bd-w-x2: 0.144em
$aii-bd-s: solid

$aii-ih: 1em
$aii-ih-x1: 1.21em
$aii-ih-x2: 1.42em

$aii-ts-d-t: .0417s
$aii-ts-d-s: .0834s
$aii-ts-d-n: .1251s
$aii-ts-d: .1667s
$aii-ts-d-x1: .2501s
$aii-ts-d-x2: .3334s
    
$aii-ts-p: all
$aii-ts-tf: ease-in-out

////R
$aii-mh: 2.96em // 2.46em

//
$aii-bf-x2: 14px
$aii-bf: 7px
$aii-bf-n: 5px
$aii-bf-s: 3px
$aii-bf-t: 1px

//   
$__ds_t: 0.2em // 0.2rem
$__ds: 0.76em // 0.76rem    

$ds-row-x-x2: $__ds
$ds-row-x: $__ds
$ds-row-y: $__ds

$ds-row-x-s: math.div($__ds, 2)
$ds-row-x-s-rev: 0 - math.div($__ds, 2)
//
$ds-col-x: $__ds
$ds-col-y: 0.46968em
