
.bg-c-txt, .bg-c-t
    background-clip: text

.bg-fuii
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover
    background-clip: border-box
    background-position: center center

.bg-r-r
    background-repeat: repeat
.bg-r-nr
    background-repeat: no-repeat

.bg-a-s
    background-attachment: scroll
.bg-a-i
    background-attachment: local
