@use './__conf' as *
    
//
.ts-s
    transition: all $duration_s $ttf
.ts
    transition: all $duration $ttf
.ts-n
    transition: all $duration_n $ttf
.ts-x1
    transition: all $duration_x1 $ttf

//
.ts-d-0
    transition-duration: 0s !important
    