
$h1: 2.56em
$h2: 2.08em
$h3: 1.62em 
$h4: 1.49em 
$h5: 1.36em // 1.36em
$h6: 1.272em
$h7: 1.19em
$h8: 1.092em
$h9: 1.042em

$fs: 1em 
$fs-w: 0.932em 
$fs-n: 0.868em
$fs-s: 0.818em
$fs-t: 0.72em

$fs-global: 14px

$ff-global: 'Segoe UI', SegoeUI, 'Microsoft YaHei', 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif
$ff-header: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif