@use './__conf' as *;
    

.fs-t
    font-size: $fs-t
.fs-s
    font-size: $fs-s
.fs-n
    font-size: $fs-n
.fs-w
    font-size: $fs-w
.fs
    font-size: $fs


.fs, .fs-w, .fs-n, .fs-s, .fs-t
    line-height: inherit

