
// 背景
$bg-pag: #1a1a1b // #f2f4f7
$bg-hui: #232525
$bg-con: #2e2f30

// 元素
$bg-bar: #5c5e61
$bg-bar-hv: #5c5e61
$bg-bar-fcs: #5c5e61

//
$bg-color-vars: (
    "pag": ( "n": $bg-pag ),
    "con": ( "n": $bg-con ),
    "hui": ( "n": $bg-hui ),
    "bar": ( "n": $bg-bar, "hv": $bg-bar-hv, "fcs": $bg-bar-fcs )
)
