
// 主题按钮

// 按钮文字
$c-pri-btn: #2c2913
$c-pri-btn-hv: #262410
$c-pri-btn-fcs: #262410
// 按钮字体阴影
$c-pri-btn-sdo: #b1a04d80
// 主题字体阴影
$pri-sdo: #b1a04d80

// 主色
$pri: #ffe044 
$pri-hv: #f7d83d 
$pri-fcs: #f3d436
$pri-shd: #ffef9c42 
    
// 轻色
$pri-iht: #fff2a8
$pri-iht-hv: #ffe044 
$pri-iht-fcs: #f3d436 
$pri-iht-shd: #ffec90a8

// MAP
$btn-pri-vars: (
    "bg": ("n": $pri, "hv": $pri-hv, "fcs": $pri-fcs, "shd": $pri-shd),
    "bd": ("n": $pri, "hv": $pri-hv, "fcs": $pri-fcs),
    "c": ("n": $c-pri-btn, "hv": $c-pri-btn-hv, "fcs": $c-pri-btn-fcs, "sdo": $c-pri-btn-sdo),
    "c-out": ("n": $pri, "hv": $pri-hv, "fcs": $pri-fcs, "sdo": $pri-sdo),
    "iht": ("n": $pri-iht, "hv": $pri-iht-hv, "fcs": $pri-iht-fcs, "shd": $pri-iht-shd)
)
