
// 文字
$tih: #ffffff 
$tih-fcs: #f2f2f2
    
$tix: #efefef 
$tix-fcs: #f2f2f2

$tid: #c9c9c9 
$tid-fcs: #acacac

$tiw: #b7b7b7
$tiw-fcs: #a4a4a4

$tin: #8a8a8a
$tin-fcs: #898989

$tis: #7f7f7f
$tis-fcs: #707070

$tit: #656565 
$tit-fcs: #606060

$sus: #484848 // #bfbfbf
$sus-fcs: #3c3c3c

    
$txt-color-vars: (
    "tih": ( "n": $tih, "hv": $tih-fcs, "fcs": $tih-fcs ),
    "tix": ( "n": $tix, "hv": $tix-fcs, "fcs": $tix-fcs ),
    "tid": ( "n": $tid, "hv": $tid-fcs, "fcs": $tid-fcs ),
    "tiw": ( "n": $tiw, "hv": $tiw-fcs, "fcs": $tiw-fcs ),
    "tin": ( "n": $tin, "hv": $tin-fcs, "fcs": $tin-fcs ),
    "tis": ( "n": $tis, "hv": $tis-fcs, "fcs": $tis-fcs ),
    "tit": ( "n": $tit, "hv": $tit-fcs, "fcs": $tit-fcs ),
    "sus": ( "n": $sus, "hv": $sus-fcs, "fcs": $sus-fcs )
)
